<!-- templates/user-management/user-management-table.html -->
<div class="table-container">
  <div class="table-wrapper">
    <table id="user-management-table" class="admin-table">
      <thead>
        <tr>
          <th class="col-select">Select</th>
          <th class="id-col hidden-col">ID</th>
          <th class="col-user">Username</th>
          <th class="col-phone">Phone Number</th>
          <th class="col-email">Email</th>
          <th class="col-created">Created</th>
          <th class="col-permissions">Permissions</th>
          <th class="col-role">Role</th>
          <th class="col-name">First Name</th>
          <th class="col-name">Last Name</th>
        </tr>
      </thead>
      <tbody id="user-management-tbody">
        <!-- Dynamic rows to be inserted here -->
      </tbody>
    </table>
  </div>
</div>
