<!--- templates/user-management/user-management-table.html --->
<div class="table-container">
  <div class="table-wrapper">
    <table id="user-management-table" class="admin-table">
      <thead>
        <tr>
          <th class="col-select">Select</th>
          <th class="line-id-col hidden-col">ID</th>
          <th>Username</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Created</th>
          <th>Permissions</th>
          <th>Role</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody id="user-management-tbody">
        <!-- Dynamic rows go here -->
      </tbody>
    </table>
  </div>
</div>
