<!-- templates/market-holidays/holiday-table.html -->
<div class="table-container">
  <div class="table-wrapper">
    <table id="market-holidays-table" class="admin-table">
      <thead>
        <tr>
          <th class="col-select">Select</th>
          <th class="id-col hidden-col">ID</th>
          <th class="col-name">Holiday Name</th>
          <th class="col-date">Date</th>
          <th class="col-close">Close Time</th>
          <th class="col-status">Status</th>
        </tr>
      </thead>

      <tbody id="market-holidays-tbody">
        <!-- Dynamic rows will be inserted here -->
      </tbody>
    </table>
  </div>
</div>
