<!---- templates/market-holidays/holiday-table.html ---->
<!-- 📅 Market Holidays Admin Table -->
<table id="market-holidays-table" class="admin-table">
  <thead>
    <tr>
      <th class="col-id">ID</th>
      <th class="col-date">Date</th>
      <th class="col-name">Holiday Name</th>
      <th class="col-close">Close Time</th>
      <th class="col-status">Status</th>
      <th class="col-select">Select</th>
    </tr>
  </thead>
  <tbody id="market-holidays-tbody">
    <!-- Dynamic rows will be inserted here -->
  </tbody>
</table>
