<!-- templates/api-keys/api-keys.html -->
<div class="table-container">
  <div class="table-wrapper">
    <table id="api-keys-table" class="admin-table">
      <thead>
        <tr>
          <th class="col-select">Select</th>
          <th class="id-col hidden-col">ID</th>
          <th class="col-label">Label</th>
          <th class="col-type">Type</th>
          <th class="col-billing">Billing</th>
          <th class="col-cost">Cost/Month</th>
          <th class="col-cost">Cost/Year</th>
          <th class="col-usage">Sec</th>
          <th class="col-usage">Min</th>
          <th class="col-usage">5 Min</th>
          <th class="col-usage">10 Min</th>
          <th class="col-usage">15 Min</th>
          <th class="col-usage">Hour</th>
          <th class="col-usage">Day</th>
          <th class="col-priority">Priority</th>
          <th class="col-status">Active</th>
        </tr>
      </thead>
      <tbody id="api-keys-tbody">
        <!-- Dynamic rows will be inserted here -->
      </tbody>
    </table>
  </div>
</div>
